name: Build

on:
  pull_request: {}
  workflow_dispatch:
    inputs:
      publish:
        description: 'Upload the build artifacts to the release'
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.ref_name }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build-holochain:
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        include:
          # Holochain with the default backend
          - os: ubuntu-22.04
            args: --package holochain
            cargoBin: holochain
            bin: holochain
          - os: ubuntu-22.04-arm
            args: --package holochain
            cargoBin: holochain
            bin: holochain
          - os: windows-2022
            args: --package holochain
            cargoBin: holochain
            bin: holochain.exe
          - os: macos-15-intel
            args: --package holochain
            cargoBin: holochain
            bin: holochain
          - os: macos-latest
            args: --package holochain
            cargoBin: holochain
            bin: holochain

          # Holochain with go-pion
          - os: ubuntu-22.04
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion
          - os: ubuntu-22.04-arm
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion
          - os: windows-2022
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion --package holochain
            cargoBin: holochain
            bin: holochain.exe
            extraId: -go-pion
          - os: macos-15-intel
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion
          - os: macos-latest
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion

          # Holochain with go-pion and a subset of unstable features
          - os: ubuntu-22.04
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion,chc,unstable-functions,unstable-countersigning --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion-unstable
          - os: ubuntu-22.04-arm
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion,chc,unstable-functions,unstable-countersigning --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion-unstable
          - os: windows-2022
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion,chc,unstable-functions,unstable-countersigning --package holochain
            cargoBin: holochain
            bin: holochain.exe
            extraId: -go-pion-unstable
          - os: macos-15-intel
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion,chc,unstable-functions,unstable-countersigning --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion-unstable
          - os: macos-latest
            args: --no-default-features --features sqlite-encrypted,wasmer_sys,backend-go-pion,chc,unstable-functions,unstable-countersigning --package holochain
            cargoBin: holochain
            bin: holochain
            extraId: -go-pion-unstable

          # Holochain CLI
          - os: ubuntu-22.04
            args: --package holochain_cli
            cargoBin: hc
            bin: hc
          - os: ubuntu-22.04-arm
            args: --package holochain_cli
            cargoBin: hc
            bin: hc
          - os: windows-2022
            args: --package holochain_cli
            cargoBin: hc
            bin: hc.exe
          - os: macos-15-intel
            args: --package holochain_cli
            cargoBin: hc
            bin: hc
          - os: macos-latest
            args: --package holochain_cli
            cargoBin: hc
            bin: hc

          # Holochain terminal
          - os: ubuntu-22.04
            args: --package hcterm
            cargoBin: hcterm
            bin: hcterm
          - os: ubuntu-22.04-arm
            args: --package hcterm
            cargoBin: hcterm
            bin: hcterm
          - os: windows-2022
            args: --package hcterm
            cargoBin: hcterm
            bin: hcterm.exe
          - os: macos-15-intel
            args: --package hcterm
            cargoBin: hcterm
            bin: hcterm
          - os: macos-latest
            args: --package hcterm
            cargoBin: hcterm
            bin: hcterm

    name: Build ${{ matrix.cargoBin }}${{ matrix.extraId }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: 'false'

      - name: Get Holochain ref
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "GIT_REF=$(jq -r .holochain < versions.json)" >> $GITHUB_ENV

      - name: Get Holochain ref for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "GIT_REF=$(Get-Content versions.json | ConvertFrom-Json | Select-Object -ExpandProperty holochain)" >> $env:GITHUB_ENV

      - name: Get Rust target
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "RUST_TARGET=$(rustc -vV | sed -n 's|host: ||p')" >> $GITHUB_ENV

      - name: Get Rust target for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "RUST_TARGET=$(rustc -vV | Select-String 'host: ' | ForEach-Object { $_.ToString().Replace('host: ', '') })" >> $env:GITHUB_ENV

      - uses: actions/checkout@v5
        with:
          path: holochain
          repository: 'holochain/holochain'
          ref: ${{ env.GIT_REF }}

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          cd holochain
          cargo build --release ${{ matrix.args }} --bin ${{ matrix.cargoBin }}

      - name: Copy to deploy
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          mkdir deploy
          cp holochain/target/release/${{ matrix.bin }} "deploy/${{ matrix.cargoBin }}${{ matrix.extraId }}-${{ env.RUST_TARGET }}"

      - name: Copy to deploy for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path deploy
          Copy-Item -Path "holochain\target\release\${{ matrix.bin }}" -Destination "deploy\${{ matrix.cargoBin }}${{ matrix.extraId }}-${{ env.RUST_TARGET }}.exe"

      - name: Upload artifacts to release
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.publish == true }}
        env:
          GH_TOKEN: ${{ secrets.HRA_GITHUB_TOKEN }}
        run: |
          gh release upload ${{ env.GIT_REF }} deploy/* --clobber --repo holochain/holochain

  build-bootstrap-srv:
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        include:
          # Kitsune2 Bootstrap Server
          - os: ubuntu-22.04
            args: --package kitsune2_bootstrap_srv
            cargoBin: kitsune2-bootstrap-srv
            bin: kitsune2-bootstrap-srv
          - os: ubuntu-22.04-arm
            args: --package kitsune2_bootstrap_srv
            cargoBin: kitsune2-bootstrap-srv
            bin: kitsune2-bootstrap-srv
          - os: windows-2022
            args: --package kitsune2_bootstrap_srv
            cargoBin: kitsune2-bootstrap-srv
            bin: kitsune2-bootstrap-srv.exe
          - os: macos-15-intel
            args: --package kitsune2_bootstrap_srv
            cargoBin: kitsune2-bootstrap-srv
            bin: kitsune2-bootstrap-srv
          - os: macos-latest
            args: --package kitsune2_bootstrap_srv
            cargoBin: kitsune2-bootstrap-srv
            bin: kitsune2-bootstrap-srv

    name: Build ${{ matrix.cargoBin }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Get Kitsune2 ref
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "GIT_REF=$(jq -r .kitsune2 < versions.json)" >> $GITHUB_ENV
          echo "GIT_HOLOCHAIN_REF=$(jq -r .holochain < versions.json)" >> $GITHUB_ENV

      - name: Get Holochain ref for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "GIT_REF=$(Get-Content versions.json | ConvertFrom-Json | Select-Object -ExpandProperty kitsune2)" >> $env:GITHUB_ENV
          echo "GIT_HOLOCHAIN_REF=$(Get-Content versions.json | ConvertFrom-Json | Select-Object -ExpandProperty holochain)" >> $env:GITHUB_ENV

      - name: Get Rust target
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "RUST_TARGET=$(rustc -vV | sed -n 's|host: ||p')" >> $GITHUB_ENV

      - name: Get Rust target for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "RUST_TARGET=$(rustc -vV | Select-String 'host: ' | ForEach-Object { $_.ToString().Replace('host: ', '') })" >> $env:GITHUB_ENV

      - uses: actions/checkout@v5
        with:
          path: kitsune2
          repository: 'holochain/kitsune2'
          ref: ${{ env.GIT_REF }}

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          cd kitsune2
          cargo build --release ${{ matrix.args }} --bin ${{ matrix.cargoBin }}

      - name: Copy to deploy
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          mkdir deploy
          cp kitsune2/target/release/${{ matrix.bin }} "deploy/${{ matrix.cargoBin }}-${{ env.RUST_TARGET }}"

      - name: Copy to deploy for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path deploy
          Copy-Item -Path "kitsune2\target\release\${{ matrix.bin }}" -Destination "deploy\${{ matrix.cargoBin }}-${{ env.RUST_TARGET }}.exe"

      - name: Upload artifacts to release
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.publish == true }}
        env:
          GH_TOKEN: ${{ secrets.HRA_GITHUB_TOKEN }}
        run: |
          gh release upload ${{ env.GIT_HOLOCHAIN_REF }} deploy/* --clobber --repo holochain/holochain

  build-lair:
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        include:
          # Lair Keystore
          - os: ubuntu-22.04
            args: --package lair_keystore
            cargoBin: lair-keystore
            bin: lair-keystore
          - os: ubuntu-22.04-arm
            args: --package lair_keystore
            cargoBin: lair-keystore
            bin: lair-keystore
          - os: windows-2022
            args: --package lair_keystore
            cargoBin: lair-keystore
            bin: lair-keystore.exe
          - os: macos-15-intel
            args: --package lair_keystore
            cargoBin: lair-keystore
            bin: lair-keystore
          - os: macos-latest
            args: --package lair_keystore
            cargoBin: lair-keystore
            bin: lair-keystore

    name: Build ${{ matrix.cargoBin }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Get Lair ref
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "GIT_REF=$(jq -r .lair < versions.json)" >> $GITHUB_ENV
          echo "GIT_HOLOCHAIN_REF=$(jq -r .holochain < versions.json)" >> $GITHUB_ENV

      - name: Get Lair ref for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "GIT_REF=$(Get-Content versions.json | ConvertFrom-Json | Select-Object -ExpandProperty lair)" >> $env:GITHUB_ENV
          echo "GIT_HOLOCHAIN_REF=$(Get-Content versions.json | ConvertFrom-Json | Select-Object -ExpandProperty holochain)" >> $env:GITHUB_ENV

      - name: Get Rust target
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          echo "RUST_TARGET=$(rustc -vV | sed -n 's|host: ||p')" >> $GITHUB_ENV

      - name: Get Rust target for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          echo "RUST_TARGET=$(rustc -vV | Select-String 'host: ' | ForEach-Object { $_.ToString().Replace('host: ', '') })" >> $env:GITHUB_ENV

      - uses: actions/checkout@v5
        with:
          path: lair
          repository: 'holochain/lair'
          ref: ${{ env.GIT_REF }}

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          cd lair
          cargo build --release ${{ matrix.args }} --bin ${{ matrix.cargoBin }}

      - name: Copy to deploy
        if: ${{ matrix.os != 'windows-2022' }}
        run: |
          mkdir deploy
          cp lair/target/release/${{ matrix.bin }} "deploy/${{ matrix.cargoBin }}-${{ env.RUST_TARGET }}"

      - name: Copy to deploy for Windows
        if: ${{ matrix.os == 'windows-2022' }}
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path deploy
          Copy-Item -Path "lair\target\release\${{ matrix.bin }}" -Destination "deploy\${{ matrix.cargoBin }}-${{ env.RUST_TARGET }}.exe"

      - name: Upload artifacts to release
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.publish == true }}
        env:
          GH_TOKEN: ${{ secrets.HRA_GITHUB_TOKEN }}
        run: |
          gh release upload ${{ env.GIT_HOLOCHAIN_REF }} deploy/* --clobber --repo holochain/holochain

  ci_pass:
    if: ${{ always() }}
    runs-on: "ubuntu-latest"
    needs:
        - build-holochain
        - build-bootstrap-srv
        - build-lair
    steps:
      - name: check status
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
